.container {
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 10px;

    background: lightgrey;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grayItalic {
    font-style: italic;
    color: gray;
}