.row {
    height: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: lightgrey dotted 1px;
    font-family: Arial;
    font-size: 14px;
}

.firstColumn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    border-right: lightgrey solid 1px;
}

.secondColumn {
    width: 100%;
    /*background: cornsilk;*/
}